@import url('https://fonts.googleapis.com/css?family=Orbitron:700|Ubuntu|Montserrat');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');
* {
	margin: 0;
	padding: 0;
}

html body {
	background: #282a33;
	font-family: 'Montserrat', sans-serif;
	color: #e4e3e3;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Orbitron', sans-serif;
	font-weight: 300;
}

hr {
	margin: 10px 0px;
}

blockquote {
    padding: 10px 20px;
    border-left: 2px solid #f16063;
    margin: 30px 0px;
    background: rgba(255,255,255,0.1);
}

.container {
	margin: 0 auto;
	max-width: 50rem;
	padding: 2.625rem 1.3125rem;
}

.logo{
	height: 60px;
}

.author-info{
	display: flex;
	margin: 2rem 0 1rem 0;
}

.author-info .profile-pic {
	height: 70px;
	border-radius: 50%;
	border: 3px solid #f16063;
}

.author-info .text{
	margin: 0 1rem;
	font-size: 1.3rem;
	color: #cccccc;

}

.author-info ul {
	list-style-type: none;
	display: flex;
}

.author-info ul li {
	margin: 10px;
}

.author-info a{
	color: #f18587;
}
.author-info a:hover{
	color: #f16063;
}

.list-blogs {
	margin: 3rem auto;
	border-radius: 5px;
	padding: 1rem;
}

.list-blogs a{
	color: #ececec;
	text-decoration: none;
}

.list-blogs h2{
	font-size: 1.3rem;
	line-height: 1.3;
}

.list-blogs p {
	margin-top: 5px;
	line-height: 1.2;
	color: #eeeeee;
	text-shadow: 1px 1px #000000;
	font-size: 0.9rem;
}

.list-blogs .subtitle{
	margin-bottom: 3px;
	font-size: 1.1rem;
}

footer {
	border-top: 1px solid #de7c7e;
	color: #eeeeee;
	padding-top: 10px;
}

.article-red{
	background: linear-gradient(to top, #9e3a65,#ee4e51);
}

.article-blue{
	background: #141E30;
	background: -webkit-linear-gradient(to right, #243B55, #141E30);
	background: linear-gradient(to right, #243B55, #141E30);
}

.article-grey {
	background: #bdc3c7;
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
	background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.article-orange {
	background: #ff7e5f;
	background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);
	background: linear-gradient(to left, #feb47b, #ff7e5f);
}

.article-nepal{
	background: #de6161;
	background: -webkit-linear-gradient(to right, #4674fe, #de6161);
	background: linear-gradient(to right, #4674fe, #de6161);
}

/* Blog Page */

.blog{
	margin: 2rem 0;
}

.blog h1, h2 h3, h4, h5, h6{
	margin: 10px 0px;
}

.blog h1{
	font-size: 2rem;
}

.blog h2{
	font-size: 1.8rem;
}

.blog h3{
	font-size: 1.4rem;
}

.blog a{
	color: #f18587;
	text-decoration: none;
}
.blog a:hover{
	color: #f16063;
	text-decoration: underline;
	text-underline-position: bottom; 
}

.blog-content{
	margin-top: 2rem;
}

.blog p{
	margin: 10px 0px;
	font-size: 1.1rem;
}

.blog img{
	margin: 15px auto;
	display: block;
}

@media only screen and (max-width: 500px) {
	h1, .blog h1 {
		font-size: 1.7rem;
	}

	.text p{
		font-size: 1.1rem;
	}

	h3, .blog h3 {
		font-size: 1.3rem;
	}

	.list-blogs .subtitle{
		font-size: 1rem;
	}

	.blog h1, h2, h3, h4, h5, h6{
		margin: 5px 0px;
	}
	
	.list-blogs h2{
		font-size: 1.2rem;
	}
	.blog p{
		margin: 15px 0px;
		font-size: 1rem;
	}
	
	.blog ul, .blog ol{
		margin-bottom: 15px 0px;
	}
}